<h2>Most Recent Additions</h2>

<div *ngIf="websites.length === 0" class="no-value">
  <p>There's no websites!</p>
</div>
<div class="container">
  <mat-grid-list [cols]="column" rowHeight="10rem" gutterSize="2em">
    <mat-grid-tile *ngFor="let website of websites">
      
      <button class="card-button-container" routerLink="/website/{{website._id}}">
        <mat-card matRipple>
          <mat-card-content>
            <p id="p1">{{website.url}}</p>
            <mat-divider></mat-divider>
            <p id="p2"><span>Creation date: </span>{{website.creation_date | date: 'dd/MM/yyyy HH:mm'}}</p>
          </mat-card-content>
        </mat-card>
      </button>

    </mat-grid-tile>
  </mat-grid-list>
</div>


<h2>General Statistics</h2>

<div class="container-no-value">
  <p *ngIf="allWebpages && websites && (websites.length === 0 || (websites.length !== 0 && allWebpages.length === 0))" class="no-value">There's no websites with evaluations!</p>
  <p *ngIf="websites && websites.length !== 0 && allWebpages === undefined" class="no-value">Loading stats...</p>
</div>

<div *ngIf="websites.length > 0 && this.allWebpages && websites" class="stats-circles">
  <app-circle-stats [webpages]="this.allWebpages"></app-circle-stats>
</div>